#mm_tools_popup_html_tag.national {
  background-image: url(../images/national.png);
  background-repeat-x: no-repeat;
  padding-left: 20px;
}

#mm_tools_popup {
  width: 250px;
  display: none;
}

#campaignInfo div:last-child {
  padding-bottom: 0px;
}

#CGcounter {
  width: 100%;
  height: 20px;
  display: block;
}

#CGcounter div {
  float: right;
}

#install_OPC, #under {
  float: right;
}

#under li {
  color: grey;
  cursor: pointer;
}

#under ul li {
  display: inline;
}

#under ul li:after {
  content: " \00b7";
}

#under ul li.last:after {
  content: "";
}

#mm_error {
  display: none;
  color: red;
  padding-bottom: 10px;
}

#pages .request span {
  font-weight: bold;
}

#pages .mask {
  float: right;
  color: green;
}

#mm_tools_popup ul {
  margin-top: 0;
  list-style-type: none;
  padding-left: 15px;
}

.padding {
  padding-top: 10px;
}